<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Билеты на ЦСКА · Спартак</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>

  <!-- ─── Фоновые частицы ──────────────────────────────────────────── -->
  <div class="bg-grid"></div>
  <div class="scanline"></div>

  <main class="container">

    <!-- Заголовок -->
    <header class="header">
      <div class="badge">СПАРТАК · МОНИТОРИНГ</div>
      <h1 class="title">ЕСТЬ ЛИ БИЛЕТЫ<br><span class="accent">НА ЦСКА?</span></h1>
    </header>

    
    <div class="box">
    <p>На сайте ведутся технические работы</p>
    <p>Подпишись, чтобы не пропустить обновления</p>
    <a href="https://t.me/kbfactory" target="_blank">
      Перейти в Telegram
    </a>

</main>
</body>
</html>
